<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="WebConfigCustomValuesFile" value="X:\work_fabry\src\AspNetStuff\aspnetstuff\InjectValuesInWebConfig\customValues.xml"/>
    <add key="K1" value="V1" />
    <add key="K2" value="V2" />
    <add key="K3" value="V3" />
  </appSettings>

  <connectionStrings>
    <add name="Sql1" connectionString="sample sql connection 1" providerName="prov1" />
    <add name="Sql2" connectionString="sample sql connection 1" providerName="prov2" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.2"/>
  </system.web>
</configuration>
