@page
@model WebRazor.Pages.UploadFileModel
@{
}

<script src="~/js/UploadFile.js"></script>

<form id="form1" method="post">
    <div>

        <div style="background-color: lightsteelblue; width: 500px; padding: 5px;">
            Select the file:
            <input type="file" id="FileInput" /><br />
            <div id="divProgress" style="visibility: collapse;">
                <div id="divProgressBar" style="width: 400px; border: 1px solid black;">
                    <div id="divProgressBarValue" style="background-color: green; width: 0px; height: 15px;"></div>
                </div>
                <div id="dirProgressText" style="background-color: lightyellow; font-size: small;"></div>
            </div>
            <input id="UploadGuid" type="hidden" value="@Model.UploadGUID" asp-for="UploadGUID" />
        </div>

        <script type="text/javascript">
            function PostFileUploadOK() {
                document.forms[0].submit();
            }
            function PostFileUploadERR() {
                alert("postfileupload function ERROR");
                document.getElementById("buttonSubmit").style.visibility = "visible";
                document.getElementById("buttonStop").style.visibility = "hidden";
                document.getElementById("divProgress").style.visibility = "collapse";
            }
        </script>

        <input id="buttonSubmit" type="button" value="Submit" onclick="SendFile('/api/FileUpload', PostFileUploadOK, PostFileUploadERR); return false;" /><br />
        <br />
        <button id="buttonStop" type="button" style="visibility: hidden">Stop</button>
    </div>
</form>

